//layout 공통
$hederHeight: 60px;
$SubMenuHeight: 40px;
$footerHeight: 80px;
$mainMinHeight: calc(100vh - (#{$hederHeight} + #{$footerHeight} + 51px));

#wrap {
  width: 1320px;
  margin: 0 auto;

  #header {
    position: relative;
    height: $hederHeight;
    margin-bottom: 10px;
    
    //로고 영역
    #top-logo {
      position: relative;
      z-index: 1;
      float: left;
      a {
        height: $hederHeight;
        line-height: $hederHeight;
      }
      a img{
        margin-top: 10px;
        float: left;
      }
    }
    //메인메뉴
    #top-nav {
      position: relative;
      height: $hederHeight;

      ul {
        //#top-nav ul  표기와 동일
        float: right;

        li {
          position: relative;
          float: left;
          margin-left: 30px;

          &:first-child {
            margin-left: 0;
          }

          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            line-height: $hederHeight;
            color: #333;
          }

          &:hover {
            .sub-menu {
              visibility: visible;
              top: 100%;
              opacity: 1;
            }
          }
          //sub-menu 구현
          .sub-menu {
            position: absolute;
            border: 1px solid #ccc;
            visibility: hidden;
            top: calc(100% - 3px);
            opacity: 0;
            transition: 0.3s;
            z-index: 500;

            li {
              width: 100%;
              margin: 0;
              background: white;
              box-sizing: border-box;
              padding: 0 10px;
              min-width: 150px;
              transition: 0.3x;

              &:hover {
                background: white;

                a {
                  color: $borderColorPrimary;
                }
              }

              a {
                height: $SubMenuHeight;
                line-height: $SubMenuHeight;
              }
            }
          }
        }
      }
    }
  }

  main {
    min-height: $mainMinHeight;
  }
  /* footer area */
  #footer {
    margin-top: 50px;
    // border-top: 1px solid $borderColorPrimary;
    color: $fontColorPrimary;
    font-size: $fontSizeSmall;
    & > .container {
      padding: 30px 0;
      text-align: center;
    }
    .container {
      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .column {
          flex: 25%;
          padding: 0 10px;
          margin-bottom: 30px;
          box-sizing: border-box;
          &.footer-logo {
            flex: 100px;
          }
          &.news {
            p {
              margin-bottom: 20px;
            }
          }
          &.news input[type=text] {
            border: 0;
            width: 65%;
            padding: 6px 8px;
            box-sizing: border-box;
          }

          &.news input[type=submit] {
            border: 0;
            padding: 6px 0;
            width: 35%;
            background-color: $gbtnColor;
            color: white;
            cursor: pointer;
          }

          &.footer-logo h3 a img{
            width: 130px;
            height: 65px;
          }

          h4 {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 12px;
            margin-bottom: 20px;

            &:after,
            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
            }

            &:before {
              width: 100%;
              height: 1px;
              background-color: $borderColorPrimary;
            }

            &:after {
              width: 100%;
              height: 3px;
              background-color: $borderColorPrimary;
            }
          }
        }
        ul {
          li {
            border-bottom: 1px solid $borderColorPrimary;
            padding: 10px 0;

            &:first-child {
              padding-top: 0;
            }
          }
        }
        p {
          line-height: 26px;
        }
      }
    }
    .footer-top {
      background-color: $layoutBg;
      padding: 60px 0 30px;
    }
  }
}
