.mainbanner {
  height: 600px;
  background-image: url('../img/main-banner-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 25px;
}
.inner {
 &:nth-child(1) {
  margin-top: 50px;
}
.box {
  &.items_2 {
    .items {
      p + a {
        margin-top: 50px;
      }
    }
  }
}
}
